body {
			background-color:#000000;
			background-image:url('/img/ISGD-min.jpg');
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			font: bold 18px/25px Arial, sans-serif;
			color:LightGray;
}
